This notebook shows how to use the `sentinel_segmentation` to extract information from the mask and make the map through folium.

### Import libraries

In [18]:
import pandas as pd
from openpyxl import load_workbook
from sentinel_segmentation.download import authenticate_gdrive, download_folder
from sentinel_segmentation.visualization import process_images_in_folder, update_lat_lon, process_dates, generate_map

### Download the predicted masks

In [2]:
credentials_path = "../config/credentials.json"
token_path = "../config/token.json"
folder_id = '1L4JwUBW_kLc_NIrf-3W3GCMsdAAouEtI'  
destination = './downloads'  
service = authenticate_gdrive(credentials_path, token_path)
download_folder(service, folder_id, destination)

Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.
Download 100%.

### Process the mask

In [3]:
folder_path = 'downloads/Maradhoofeydhoo'
df = process_images_in_folder(folder_path)

In [4]:
df

          date detected_label true_label centroid_x centroid_y  area
0   2019-11-23         harbor        NaN        122        120   118
1   2019-11-23         harbor        NaN        146        121    12
2   2019-11-23         resort        NaN        147        100    22
3   2018-03-13            NaN        NaN        NaN        NaN   NaN
4   2019-03-13         harbor        NaN        110        101   807
5   2023-02-15         harbor        NaN        127         97  2400
6   2019-04-07         harbor        NaN        103         86   207
7   2021-02-20         harbor        NaN         81         37     9
8   2021-02-20         harbor        NaN        126         98  2420
9   2017-01-07            NaN        NaN        NaN        NaN   NaN
10  2024-03-11         harbor        NaN        124         96  2412
11  2017-03-08            NaN        NaN        NaN        NaN   NaN
12  2019-09-19            NaN        NaN        NaN        NaN   NaN
13  2017-02-16         harbor        NaN        112        107  1186
14  2020-03-27         harbor        NaN        126         99  2385
15  2015-12-04            NaN        NaN        NaN        NaN   NaN
16  2019-04-27            NaN        NaN        NaN        NaN   NaN
17  2022-02-25         harbor        NaN        126         95  2391
18  2019-12-03         harbor        NaN        121        101  2373
19  2016-03-23            NaN        NaN        NaN        NaN   NaN

In [5]:
top_left_lat, top_left_lon = -0.668986, 73.122974
bottom_right_lat, bottom_right_lon = -0.674077, 73.129540
original_width, original_height = 74, 57

In [6]:
df = update_lat_lon(df, top_left_lat, top_left_lon,
                    bottom_right_lat, bottom_right_lon,
                    original_width, original_height)

In [7]:
df.sort_values(by=['date'], inplace=True)
df

,date,detected_label,true_label,centroid_x,centroid_y,area,latitude,longitude
15,2015-12-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2016-03-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2017-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2017-02-16,harbor,NaN,112,107,1186,-0.671543,73.126125
11,2017-03-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-03-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-03-13,harbor,NaN,110,101,807,-0.671497,73.125948
6,2019-04-07,harbor,NaN,103,86,207,-0.671337,73.125506
16,2019-04-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2019-09-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-11-23,resort,NaN,147,100,22,-0.672342,73.125918
1,2019-11-23,harbor,NaN,146,121,12,-0.672319,73.126537
0,2019-11-23,harbor,NaN,122,120,118,-0.671771,73.126507
18,2019-12-03,harbor,NaN,121,101,2373,-0.671748,73.125948
14,2020-03-27,harbor,NaN,126,99,2385,-0.671863,73.125889
7,2021-02-20,harbor,NaN,81,37,9,-0.670835,73.124063
8,2021-02-20,harbor,NaN,126,98,2420,-0.671863,73.125860
17,2022-02-25,harbor,NaN,126,95,2391,-0.671863,73.125771
5,2023-02-15,harbor,NaN,127,97,2400,-0.671885,73.125830
10,2024-03-11,harbor,NaN,124,96,2412,-0.671817,73.125801

### Save DataFrame to an Excel file

The code is only used for the first time to create the Excel file

In [13]:
# The code is only used for the first time to create the Excel file
file_path = "../example/map/demo_original_result.xlsx"
df.to_excel(file_path, sheet_name="Sheet1", index=False)

### Append a DataFrame to the existing Excel file

This code is used after creating the Excel file. It is used to add the extracted information to the Excel table.

In [ ]:
# file_path = "original_result.xlsx"

# with pd.ExcelWriter(file_path, engine="openpyxl", mode='a', if_sheet_exists='overlay') as writer:
#     writer.book = load_workbook(file_path)
#     startrow = writer.book["Sheet1"].max_row
#     df.to_excel(writer, sheet_name="Sheet1", startrow=startrow, index=False, header=False)

### Folium Map Visualization

In [20]:
# read csv
file_path = '../example/map/demo_final_result.xlsx'
df = pd.read_excel(file_path)

# ensure date column is in string format
df['date'] = df['date'].fillna('Unknown').astype(str)

In [21]:
df = process_dates(df)

In [23]:
map_file = '../example/map/map_with_timeline.html'
generate_map(df, map_file=map_file)

You can view the map in the `example/map` folder.